.indicator{
    border-radius: 3px;
    width: 70%;
    margin: 0 auto;
    
}

.indicator__percent{
    position: absolute;
    top: -25px;
    font-size: 0.6rem;
    background-color: black;
    color: white;
    padding: 4px 0px;
    width: 100%;
    max-width: 50px;
    top: -25;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.visible {
    display: block;
}
